@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
  --primary: #2563eb;
  --secondary: #334155;
  --card-bg: #f1f5f9;
  --header-text: #1e293b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-card-bg: var(--card-bg);
  --color-header-text: var(--header-text);
  --font-sans: 'Inter', system-ui, -apple-system, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a;
    --foreground: #f8fafc;
    --card-bg: #1e293b;
    --header-text: #f1f5f9;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@media print {
  nav {
    display: none !important;
  }
}

/* Custom Scrollbar */
.thin-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.5);
  /* gray-400 with opacity */
  border-radius: 20px;
}

.thin-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(107, 114, 128, 0.8);
  /* gray-500 with opacity */
}

@media print {
  @page {
    size: A4;
    margin: 25mm 10mm;
  }
}